{
  "extends": [
    "standard"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "quote-props": [
      "error",
      "consistent"
    ]
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  }
}
